name: Deploying the nodejs application to ec2 instance as runner in aws ap-south-1

on:
  workflow_run:
    workflows: ["Node.js Ci-Cd Pipeline"]
    types:
      - completed

jobs:
  deploy:
    name: Deploying the nodejs application to ec2 instance as runner in aws ap-south-1
    runs-on: self-hosted

    steps:
      - name: Cleanup workspace
        run: rm -rf ${{ github.workspace }}/*
      
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Update the packages
        run: sudo apt update -y

      - name: Install nodejs and npm
        run: sudo apt install nodejs npm -y

      - name: List all files and folders
        run: ls

      - name: Download artifacts from build job
        uses: actions/download-artifact@v4
        with:
          name: nodejs-app-artifacts
          path: ./nodejs-app-artifacts
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Deployment completed
        run: echo "Deployment completed successfully"

