name: Node.js CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: List all files and folders
        run: ls -R

      - name: Upload Node.js application artifacts
        uses: actions/upload-artifact@v4
        with:
          name: nodejs-app-artifacts
          path: ./

      - name: Use username and password
        run: |
          echo "Username is $USER_NAME"
          echo "Password is $PASSWORD"
        env:
          USER_NAME: ${{ secrets.USER_NAME }}
          PASSWORD: ${{ secrets.PASSWORD }}

